/* Start Variables */

:root {
    --main-color: #12153c;
    --title-color: #d8bd08;
    --parg-color: #232324;
    --trans-dur: 0.5s;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */

.main-title {
    text-align: center;
    width: 80%;
    margin: auto;
}

.main-title span {
    display: block;
    color: var(--title-color, #d8bd08);

}

.main-title h2 {
    font-size: 42px;
    color: var(--main-color, #12153c);
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .main-title h2 {
        font-size: 30px;
    }
}

.main-title p {
    color: var(--parg-color, #232324);
    font-size: 17px;
    line-height: 1.5;
}

/* End Component */

/* Start Header */

header {
    height: 83px;
    position: absolute;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .container .logo {
    cursor: pointer;
}

header .container nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    header .container nav {
        display: none;
    }
}

header .container nav a {
    display: block;
    margin-right: 50px;
    color: white;
}

header .container nav a:first-of-type {
    background-color: var(--title-color, #d8bd08);
    padding: 10px 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

header .container nav a:first-of-type:hover {
    background-color: #000;
}

header .container nav a:last-of-type {
    transition: var(--trans-dur, 0.5s);
    -webkit-transition: var(--trans-dur, 0.5s);
    -moz-transition: var(--trans-dur, 0.5s);
    -ms-transition: var(--trans-dur, 0.5s);
    -o-transition: var(--trans-dur, 0.5s);
}

header .container nav a:last-of-type:hover {
    color: var(--title-color, #d8bd08);
}

header .container .menu {
    width: 30px;
    position: relative;
}

@media (min-width: 768px) {
    header .container .menu {
        display: none;
    }
}

header .container .menu span {
    background-color: white;
    height: 4px;
    width: 100%;
    display: block;
    margin-bottom: 7px;
}

header .container .menu ul {
    position: absolute;
    left: -105px;
    bottom: -125px;
    background-color: #02185b;
    width: 135px;
    text-align: center;
    z-index: -1;
    opacity: 0;
    transition: var(--trans-dur, 0.5s);
    -webkit-transition: var(--trans-dur, 0.5s);
    -moz-transition: var(--trans-dur, 0.5s);
    -ms-transition: var(--trans-dur, 0.5s);
    -o-transition: var(--trans-dur, 0.5s);
}

header .container .menu:hover ul {
    z-index: 1;
    opacity: 1;
}

header .container .menu ul li a {
    color: white;
    padding: 20px 10px;
    display: block;
    transition: var(--trans-dur, 0.5s);
    -webkit-transition: var(--trans-dur, 0.5s);
    -moz-transition: var(--trans-dur, 0.5s);
    -ms-transition: var(--trans-dur, 0.5s);
    -o-transition: var(--trans-dur, 0.5s);
}

header .container .menu ul li a:hover {
    color: var(--title-color, #d8bd08);
}

/* End Header */

/* Start Landing */

.landing {
    background-image: url(../photos/banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 120vh;
    padding-bottom: 300px;
}

@media (max-width: 768px) {
    .landing {
        height: auto;
    }
}

.landing .container {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .landing .container {
        flex-direction: column;
    }
}

.landing .container .text {
    width: 91%;
    color: white;
}

@media (max-width: 768px) {
    .landing .container .text {
        margin-bottom: 50px;
    }
}

.landing .container .text h1 {
    font-size: 42px;
    color: #ffe25b;
}

@media (max-width: 991px) {
    .landing .container .text h1 {
        font-size: 35px;
    }
}

.landing .container .text p {
    font-size: 45px;
    margin-bottom: 40px;
}

@media (max-width: 991px) {
    .landing .container .text p {
        font-size: 29px;
    }
}

.landing .container .text span {
    display: block;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 50px;
}

@media (max-width: 991px) {
    .landing .container .text span {
        font-size: 40px;
    }
}

.landing .container .text a {
    display: block;
    width: fit-content;
    padding: 20px 50px;
    border: 1px solid white;
    color: white;
    text-transform: capitalize;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: var(--trans-dur, 0.5s);
    -webkit-transition: var(--trans-dur, 0.5s);
    -moz-transition: var(--trans-dur, 0.5s);
    -ms-transition: var(--trans-dur, 0.5s);
    -o-transition: var(--trans-dur, 0.5s);
}

.landing .container .text a:hover {
    background-color: #d0b608;
}

.landing .container .image img {
    max-width: 100%;
}

/* End Landing */

/* Start About */

.about {
    background-color: #f3f2f2;
    margin-top: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about .container .main-title {
    margin-bottom: 50px;
}

.about .container .image {
    text-align: center;
}

.about .container .image img {
    max-width: 100%;
}

/* End About */